/* This file will hold styles that are loaded using the same media query as the normal grid. */
/* If you are using the default media queries provided by Omega, these styles will also
 *  apply to the widescreen layout unless they are overridden by the widescreen styles. */
/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */
/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */
body {
  font-size: 100%;
  font-family: "Open Sans", sans-serif; }

img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto; }

h1 {
  font-size: 2em;
  font-weight: 800; }

h2 {
  font-size: 1.6em;
  font-weight: 600; }

h2.block-title {
  font-size: 1.6em;
  font-weight: 600; }

h3 {
  font-size: 1.4em; }

h4 {
  font-size: 1.2em; }

h5 {
  font-size: 1em; }

h1, h2, h2.block-title, h3, h4, h5 {
  font-family: "Open Sans", sans-serif; }

h3, h4, h5 {
  font-weight: 400; }

p, a, a:link, div {
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  text-decoration: none; }

a, a:link {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; }

a:hover, a:link:hover {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; }

.fa:before {
  margin-right: 0.5em;
  font-family: FontAwesome; }

label {
  font-weight: normal; }

.form-textarea-wrapper textarea,
textarea,
select,
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"] {
  border: 1px solid #e0e0e0;
  padding: 1.5%;
  outline: none;
  font-size: 14px;
  color: #888;
  margin: 0;
  max-width: 100%;
  display: block;
  background: #fff;
  -webkit-box-shadow: inset 1px 1px 2px 0px rgba(0, 0, 0, 0.06);
  box-shadow: inset 1px 1px 2px 0px rgba(0, 0, 0, 0.06);
  border-radius: 3px;
  height: auto;
  width: 80%; }

.form-textarea-wrapper .grippie {
  width: 80%; }

button,
input[type="reset"],
input[type="submit"],
input[type="button"],
.node-links ul li a {
  text-shadow: none;
  padding: 2% 4%;
  display: inline-block;
  border: none;
  background: #dddddd;
  border-radius: 5px;
  box-shadow: none; }

button:hover,
input[type="reset"]:hover,
input[type="submit"]:hover,
input[type="button"]:hover,
.node-links ul li a:hover {
  background: #cccccc; }

#superfish-1-select {
  width: 100%;
  border-radius: 0;
  padding-left: 40px;
  background: #fff url("../css/img/hamburger-menu-icon.png") no-repeat 10px center;
  border: #ccc;
  background-size: 20px;
  color: #000; }

.ds-2col > .group-left {
  float: left;
  width: 100%; }
  .ds-2col > .group-left img {
    width: 50%; }

.ds-2col > .group-right {
  float: left;
  width: 100%; }

.field-name-field-paragraph-s,
.paragraphs-item-1-kolom-afbeelding,
.paragraphs-item-1-kolom-tekst,
.paragraphs-item-2-kolommen-afbeeldingen,
.paragraphs-item-2-kolommen-tekst,
.paragraphs-item-2-kolommen-tekst-afbeelding-link,
.paragraphs-item-2-kolommen-tekst-afbeelding-rech {
  float: left;
  width: 100%; }
  .field-name-field-paragraph-s .ds-2col > .group-left,
  .field-name-field-paragraph-s .ds-2col > .group-right,
  .paragraphs-item-1-kolom-afbeelding .ds-2col > .group-left,
  .paragraphs-item-1-kolom-afbeelding .ds-2col > .group-right,
  .paragraphs-item-1-kolom-tekst .ds-2col > .group-left,
  .paragraphs-item-1-kolom-tekst .ds-2col > .group-right,
  .paragraphs-item-2-kolommen-afbeeldingen .ds-2col > .group-left,
  .paragraphs-item-2-kolommen-afbeeldingen .ds-2col > .group-right,
  .paragraphs-item-2-kolommen-tekst .ds-2col > .group-left,
  .paragraphs-item-2-kolommen-tekst .ds-2col > .group-right,
  .paragraphs-item-2-kolommen-tekst-afbeelding-link .ds-2col > .group-left,
  .paragraphs-item-2-kolommen-tekst-afbeelding-link .ds-2col > .group-right,
  .paragraphs-item-2-kolommen-tekst-afbeelding-rech .ds-2col > .group-left,
  .paragraphs-item-2-kolommen-tekst-afbeelding-rech .ds-2col > .group-right {
    width: 100%; }
  .field-name-field-paragraph-s .field-name-field-tekst-lang,
  .field-name-field-paragraph-s .field-name-field-tekst-rechts,
  .field-name-field-paragraph-s .field-name-field-afbeelding,
  .field-name-field-paragraph-s .field-name-field-afbeelding-rechts,
  .paragraphs-item-1-kolom-afbeelding .field-name-field-tekst-lang,
  .paragraphs-item-1-kolom-afbeelding .field-name-field-tekst-rechts,
  .paragraphs-item-1-kolom-afbeelding .field-name-field-afbeelding,
  .paragraphs-item-1-kolom-afbeelding .field-name-field-afbeelding-rechts,
  .paragraphs-item-1-kolom-tekst .field-name-field-tekst-lang,
  .paragraphs-item-1-kolom-tekst .field-name-field-tekst-rechts,
  .paragraphs-item-1-kolom-tekst .field-name-field-afbeelding,
  .paragraphs-item-1-kolom-tekst .field-name-field-afbeelding-rechts,
  .paragraphs-item-2-kolommen-afbeeldingen .field-name-field-tekst-lang,
  .paragraphs-item-2-kolommen-afbeeldingen .field-name-field-tekst-rechts,
  .paragraphs-item-2-kolommen-afbeeldingen .field-name-field-afbeelding,
  .paragraphs-item-2-kolommen-afbeeldingen .field-name-field-afbeelding-rechts,
  .paragraphs-item-2-kolommen-tekst .field-name-field-tekst-lang,
  .paragraphs-item-2-kolommen-tekst .field-name-field-tekst-rechts,
  .paragraphs-item-2-kolommen-tekst .field-name-field-afbeelding,
  .paragraphs-item-2-kolommen-tekst .field-name-field-afbeelding-rechts,
  .paragraphs-item-2-kolommen-tekst-afbeelding-link .field-name-field-tekst-lang,
  .paragraphs-item-2-kolommen-tekst-afbeelding-link .field-name-field-tekst-rechts,
  .paragraphs-item-2-kolommen-tekst-afbeelding-link .field-name-field-afbeelding,
  .paragraphs-item-2-kolommen-tekst-afbeelding-link .field-name-field-afbeelding-rechts,
  .paragraphs-item-2-kolommen-tekst-afbeelding-rech .field-name-field-tekst-lang,
  .paragraphs-item-2-kolommen-tekst-afbeelding-rech .field-name-field-tekst-rechts,
  .paragraphs-item-2-kolommen-tekst-afbeelding-rech .field-name-field-afbeelding,
  .paragraphs-item-2-kolommen-tekst-afbeelding-rech .field-name-field-afbeelding-rechts {
    margin-bottom: 20px; }

.zone-branding-wrapper {
  background-color: #393939; }

.zone-preface-wrapper {
  background-image: url(img/newbg.png);
  background-size: cover; }

.zone-content-wrapper {
  background-color: #393939; }

.zone-footer-wrapper {
  background-color: #393939; }

.zone-preface {
  padding-top: 750px;
  padding-right: 0;
  padding-left: 0;
  padding-bottom: 88px; }

.bean-buttons {
  text-align: center; }
  .bean-buttons img {
    margin-bottom: 10px;
    max-width: 100%;
    margin-top: 24px; }
  .bean-buttons div {
    font-weight: 700;
    font-size: 1.0em; }

.ds-2col > .group-right {
  float: left;
  width: 50% !important;
  text-align: center;
    padding-top: 35px;
}

.ds-2col > .group-left {
  float: left;
  width: 20% !important;
  text-align: center;
  margin-left: 13%;
    padding-top: 20px;
}

.field-name-field-title {
  color: #ffffff; }

.field-name-field-tekst-rechts {
  color: #ffffff; }

#node-webform-8 {
  text-align: center;
  padding-top: 64px; }
  #node-webform-8 p {
    color: #ffffff; }

input[type="text"] {
  width: 50%;
  margin: 0 auto; }

input[type="email"] {
  width: 50%;
  margin: 0 auto; }

.form-textarea-wrapper textarea, textarea {
  width: 50%;
  margin: 0 auto; }

input[type=submit] {
  background-color: #393939;
  border: 2px solid white;
  width: 21.3%;
  text-align: center;
  color: white;
    font-family: 'Open Sans', sans-serif;
  font-weight: 600;
    font-size: 0.750em;
    border-radius: 0;
}

h2.node-title a {
  color: #ffffff; }

footer[class="submitted"] {
  display: none; }

.location {
  background-image: url("img/location.png");
  background-repeat: no-repeat;
  height: 35px;
  width: 27px;
  display: block;
  margin-left: auto;
  margin-right: auto; }

.envelope {
  background-image: url("img/envelope.png");
  background-repeat: no-repeat;
  height: 35px;
  width: 31px;
  display: block;
  margin-left: auto;
  margin-right: auto; }

.mobile {
  background-image: url("img/mobile.png");
  background-repeat: no-repeat;
  height: 35px;
  width: 28px;
  display: block;
  margin-left: auto;
  margin-right: auto; }

.place {
  width: 30%;
  float: left;
  text-align: center; }

.telephone {
  width: 30%;
  float: left;
  text-align: center; }

.mail {
  width: 30%;
  float: left;
  text-align: center; }

hr {
  margin: 0;
  padding: 0;
  border: none;
  height: 1px;
  background: #ffffff;
  margin: 28px 0 28px 0; }

.zone-postscript-wrapper .views-slideshow-controls-text-previous {
  position: relative;
  display: block;
  width: 32px;
  height: 57px;
  background: url("img/left-arrow.png") no-repeat;
  background-size: 32px 57px;
  text-indent: -99999px;
  color: #444;
  left: -5%;
  float: left; }
.zone-postscript-wrapper .views-slideshow-controls-text-next {
  position: relative;
  display: block;
  width: 32px;
  height: 57px;
  background: url("img/right-arrow.png") no-repeat;
  background-size: 32px 57px;
  text-indent: -99999px;
  color: #444;
  right: -80%;
  float: left; }

/*# sourceMappingURL=default-alpha-default-normal.css.map */
