/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */

/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */

$font: 'Open Sans', sans-serif;

body {
  font-size: 100%;
  font-family: $font;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.logo-img {
  margin: 0;
  max-width: 100%;
  padding: 15px 0 15px 0;
}

h1 {
  font-size: 2em;
  font-weight: 800;
}

h2 {
  font-size: 1.6em;
  font-weight: 600;
}

h2.block-title {
  font-size: 1.6em;
  font-weight: 600;
}

h3 {
  font-size: 1.4em;
}

h4 {
  font-size: 1.2em;
}

h5 {
  font-size: 1em;
}

h1, h2, h2.block-title, h3, h4, h5 {
  font-family: $font;
}

h3, h4, h5 {
  font-weight: 400;
}

p, a, a:link, div {
  font-family: $font;
  font-size: 1em;
  text-decoration: none;
}

a, a:link {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

a:hover, a:link:hover {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.fa:before {
  margin-right: 0.5em;
  font-family: FontAwesome;
}

label {
  font-weight: normal;
}

.form-textarea-wrapper textarea,
textarea,
select,
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"] {
  border: 1px solid #e0e0e0;
  padding: 1.5%;
  outline: none;
  font-size: 14px;
  color: #888;
  margin: 0;
  max-width: 100%;
  display: block;
  background: #fff;
  -webkit-box-shadow: inset 1px 1px 2px 0px rgba(0, 0, 0, 0.06);
  box-shadow: inset 1px 1px 2px 0px rgba(0, 0, 0, 0.06);
  border-radius: 3px;
  height: auto;
  width: 80%;
}

.form-textarea-wrapper .grippie {
  width: 80%;
}

button,
input[type="reset"],
input[type="submit"],
input[type="button"],
.node-links ul li a {
  text-shadow: none;
  padding: 2% 4%;
  display: inline-block;
  border: none;
  background: #dddddd;
  border-radius: 5px;
  box-shadow: none;
}

button:hover,
input[type="reset"]:hover,
input[type="submit"]:hover,
input[type="button"]:hover,
.node-links ul li a:hover {
  background: #cccccc;
}

#superfish-1-select {
  width: 100%;
  border-radius: 0;
  padding-left: 40px;
  background: #393939 url("../css/img/hamburger-menu-icon.png") no-repeat 10px center;
  border: #ccc;
  background-size: 20px;
  color: #ffffff;
}

.ds-2col > .group-left {
  float: left;
  width: 100%;
  padding-top: 20px;
}

.ds-2col > .group-right {
  float: left;
  width: 100%;
}

.field-name-field-paragraph-s,
.paragraphs-item-1-kolom-afbeelding,
.paragraphs-item-1-kolom-tekst,
.paragraphs-item-2-kolommen-afbeeldingen,
.paragraphs-item-2-kolommen-tekst,
.paragraphs-item-2-kolommen-tekst-afbeelding-link,
.paragraphs-item-2-kolommen-tekst-afbeelding-rech {
  float: left;
  width: 100%;
  .ds-2col > .group-left,
  .ds-2col > .group-right {
    width: 100%;
  }
  .field-name-field-tekst-lang,
  .field-name-field-tekst-rechts,
  .field-name-field-afbeelding,
  .field-name-field-afbeelding-rechts {
    margin-bottom: 20px;
  }
}

.zone-branding-wrapper {
  background-color: #393939;
  img {
    max-width: 50%;
  }
}

.zone-preface-wrapper {
  background-image: url(img/newbg.png);
  background-size: cover;
}

.zone-content-wrapper {
  background-color: #393939;
}

.zone-postscript-wrapper {
  background-image: url(img/newbgslider.png);
  background-size: cover;
  text-align: center;
  padding: 40px 0 0 0;
  h2.block-title {
    font-size: 1.6em;
    font-weight: 600;
    text-align: center;
  }
  a {
    color: #000000;
  }
  img {
    padding: 22px 0;
    margin-bottom: 30px;
  }
  .views-slideshow-cycle-main-frame {
    margin: 0 auto;
  }
  .views-slideshow-controls-bottom {
    position: absolute;
    top: 40%;
    width: 100%;
  }

  .views_slideshow_cycle_main .field-content {
    max-width: 80%;
    width: 100%;
    margin: 0 auto;
  }


  .views_slideshow_cycle_main .field-content img {
    max-width: 100%;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    margin-bottom: 30px;
  }


  .views-field-title {
    font-weight: 600;
    font-size: 1.125em;
  }
  .views-field-body {
    font-size: 0.875em;
  }

}

.views_slideshow_cycle_main {
  width: 100%;
  float: left;
  margin-top: 30px;
  margin-bottom: 30px;
}

#block-views-view-slideshow-block {
  width: 80%;
  margin: 0 auto;
}

.zone-footer-wrapper {
  background-color: #393939;
}

ul#superfish-1 {
  padding: 0;
  margin: 0;
  li {
    margin: 0;
    padding: 0;
    a {
      margin: 38px 0 19px 0;
      padding: 10px 37px;
      color: #ffffff;
      font-weight: 600;
    }
  }
}

.logo-img {
  margin: 0;
  max-width: 100%;
  padding: 15px 0 15px 0;
}

.zone-preface {
  padding-top: 14px;
  padding-right: 0;
  padding-left: 0;
  padding-bottom: 88px;
}

.bean-buttons {
  text-align: center;
  margin: 0px 10px;
  img {
    margin-bottom: 10px;
    max-width: 25%;
    margin-top: 20px;
  }
  div {
    font-weight: 700;
  }
}

.ds-2col > .group-right {
  float: center;
  width: 80% !important;
  text-align: center;
  padding-top: 15px;
  margin: 0 auto;
}

.ds-2col > .group-left {
  float: center;
  width: 20% !important;
  text-align: center;
  margin-left: 0%;
  margin: 0 auto;
}

.field-name-field-title {
  color: #ffffff;
  font-size: 1.500em;
}

.field-name-field-tekst-rechts {
  color: #ffffff;
}

#node-webform-8 {
  .field-name-field-body {
    width: 80%;
    margin: 0 auto;
  }
  text-align: center;
  padding-top: 64px;
  p {
    color: #ffffff;
  }
}

input[type="text"] {
  width: 50%;
  margin: 0 auto;
}

input[type="email"] {
  width: 50%;
  margin: 0 auto;
}

.form-textarea-wrapper textarea, textarea {
  width: 50%;
  margin: 0 auto;
}

input[type=submit] {
  background-color: #393939;
  border: 2px solid white;
  width: 43.3%;
  text-align: center;
  color: white;
  font-family: 'Opens Sans', sans-serif;
  font-weight: 600;
  font-size: 0.750em;
  border-radius: 0px;
  .fa fa-chevron-right {

  }
}

h2.node-title {
  a {
    color: #ffffff;
  }
}

footer[class="submitted"] {
  display: none;
}

.location {
  background-image: url('img/location.png');
  background-repeat: no-repeat;
  height: 35px;
  width: 27px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.envelope {
  background-image: url('img/envelope.png');
  background-repeat: no-repeat;
  height: 35px;
  width: 31px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.mobile {
  background-image: url('img/mobile.png');
  background-repeat: no-repeat;
  height: 35px;
  width: 28px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.place {
  width: 100%;
  float: left;
  text-align: center;
  margin-top: 20px;
}

.telephone {
  width: 100%;
  float: left;
  text-align: center;
  margin-top: 20px;
}

.mail {
  width: 100%;
  float: left;
  text-align: center;
  margin-top: 20px;
}

.block-vandis-customblock-contact-block {
  margin-bottom: 50px;
  color: #ffffff;
}

hr {
  margin: 0;
  padding: 0;
  border: none;
  height: 1px;
  background: #ffffff;
  margin: 28px 0 28px 0;
}

.block-superfish {
  float: right;
}

.zone-postscript-wrapper .views-slideshow-controls-text-previous a {
  position: absolute;
  display: block;
  top: -50%;
  background: url("img/left-arrow.png");
  background-size: contain;
  width: 19px;
  height: 35px;
  text-indent: -9999px;
}

.zone-postscript-wrapper .views-slideshow-controls-text-previous {
  width: 42px;
  height: 40px;
  position: absolute;
  top: 50%;
  left: 0.5%;
  z-index: 1000;
}

.zone-postscript-wrapper .views-slideshow-controls-text-next a {
  position: absolute;
  display: block;
  top: -50%;
  background: url("img/right-arrow.png");
  background-size: contain;
  width: 19px;
  height: 35px;
  text-indent: -9999px;
}

.zone-postscript-wrapper .views-slideshow-controls-text-next {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 50%;
  right: -2.5%;
  z-index: 1000;
}

#block-views-view-slideshow-block {
  width: 100%;
  margin: 0 auto;
}